:root {
  --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
  display: block;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #515151;
  text-align: left;
  background-color: #f4f5f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #3f84fc;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0458eb;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
*/


   /* dashboard */
.dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.dashboard-app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-top: 84px;
}

.dashboard-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 25px;
}

.dashboard-nav {
  min-width: 238px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #031e31;
}

.dashboard-compact .dashboard-nav {
  display: none;
}

.dashboard-nav header {
  min-height: 84px;
  padding: 8px 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dashboard-nav header .menu-toggle {
  display: none;
  margin-right: auto;
}

.dashboard-nav a {
  color: #515151;
}

.dashboard-nav a:hover {
  text-decoration: none;
}

.dashboard-nav {
  background-color: #031e31;
}

.dashboard-nav a {
  color: #fff;
}

.brand-logo {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #515151;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo:focus,
.brand-logo:active,
.brand-logo:hover {
  color: #dbdbdb;
  text-decoration: none;
}

.brand-logo i {
  color: #d2d1d1;
  font-size: 28px;
  margin-right: 20px;
}

.dashboard-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-menu {
  color: #fff;
  font-size: 17px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.dashboard-nav-item {
  min-height: 56px;
  padding: 20px 20px 30px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  transition: ease-out 0.5s;
}

.design .dashboard-nav-item {
  padding: 10px 20px 10px 70px;
}

.dashboard-nav-item i {
  width: 36px;
  font-size: 19px;
  margin-left: -40px;
}

.design .dashboard-nav-item i {
  width: 26px;
  font-size: 14px;
  margin-left: -40px;
}

.dashboard-nav-item:hover {
  background: rgb(62, 188, 167);
  padding: 20px 20px 30px 70px;
}

.design .dashboard-nav-item:hover {
  background: rgb(62, 188, 167);
  padding: 10px 20px 10px 70px;
}

.active {
  background: rgb(35, 168, 146);
}

.dashboard-nav-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-nav-dropdown.show {
  background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle {
  font-weight: bold;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle:after {
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-nav-dropdown-toggle:after {
  content: "";
  margin-left: auto;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(81, 81, 81, 0.8);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dashboard-nav .dashboard-nav-dropdown-toggle:after {
  border-top-color: rgba(255, 255, 255, 0.72);
}

.dashboard-nav-dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-nav-dropdown-item {
  min-height: 40px;
  padding: 8px 20px 8px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: ease-out 0.5s;
}

.dashboard-nav-dropdown-item:hover {
  background: rgba(255, 255, 255, 0.04);
}

.menu-toggle {
  position: relative;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #c1c1c1;
}

.menu-toggle:hover,
.menu-toggle:active,
.menu-toggle:focus {
  text-decoration: none;
  color: #a09d9d;
}

.menu-toggle i {
  font-size: 20px;
}

.input-group-text {
  background-color: rgb(71, 186, 166);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.input-group-text:hover {
  background-color: rgb(35, 168, 146);
}

.dashboard-toolbar {
  min-height: 84px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 27px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.nav-item-divider {
  height: 1px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: rgba(236, 238, 239, 0.3);
}

.tutorial_btn {
  color: #fff;
  background-color: rgb(71, 186, 166);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.tutorial_btn:hover {
  background-color: rgb(35, 168, 146);
}

.explore {
  background-color: rgb(71, 186, 166);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
.explore:hover {
  background-color: rgb(35, 168, 146);
  text-decoration: none;
}

@media (min-width: 992px) {
  .dashboard-app {
    margin-left: 238px;
  }

  .dashboard-compact .dashboard-app {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px 0px;
  }
}

@media (max-width: 992px) {
  .dashboard-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1070;
  }

  .dashboard-nav.mobile-show {
    display: block;
  }
}

@media (max-width: 992px) {
  .dashboard-nav header .menu-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .dashboard-toolbar {
    left: 238px;
  }

  .dashboard-compact .dashboard-toolbar {
    left: 0;
  }
}

/* content */

#content {
  padding: 20px;
  color: #000;
  justify-content: space-between;
  align-items: center;
  /* flex: auto 1 1; */
  /* margin-left: 26rem; */
  /* margin-right: 20px; */
}

#content .card {
  background-color: rgb(215, 242, 237);
  border-radius: 20px;
}

#content .card-body {
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 40px;
}

.card-body #icon {
  font-size: 30px;
  font-weight: 700;
}

.card-title .fa-book {
  border: 15px solid #fff;
  font-size: 26px;
  font-weight: 600;
  margin-right: 30px;
  border-radius: 20%;
}

.card-title .fa-bullhorn {
  border: 15px solid #fff;
  font-size: 26px;
  font-weight: 600;
  margin-right: 30px;
  border-radius: 20%;
}

.card-title .fa-address-book {
  border: 15px solid #fff;
  font-size: 26px;
  font-weight: 600;
  margin-right: 30px;
  border-radius: 20%;
}

.card-title .fa-medal {
  border: 15px solid #fff;
  font-size: 26px;
  font-weight: 600;
  margin-right: 30px;
  border-radius: 20%;
}

.card-text {
  font-size: 18px;
  color: #515151;
  font-weight: 600;
  margin-top: 20px;
  /* margin-left: 12px; */
}

.card-footer {
  background-color: rgb(215, 242, 237);
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.card-footer .fa-arrow-right {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 10px;
}

.heading {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 2rem;
  align-items: center;
}

#content .courses {
  position: relative;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#content .courses .card {
  padding: 5px;
  border-radius: 2px;
  background-color: #fff;
}

#content .courses .Enrolled h5 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  margin-right: 20px;
}

.courses .Enrolled .view-btn {
  color: rgb(71, 186, 166);
  background: #d7f2ed;
  border: 1px solid rgb(71, 186, 166);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
}

.courses-card .card {
  display: flex;
  background-color: #fff;
  margin: 20px;
  border-radius: 10%;
}

.courses-card .card img {
  max-width: 100%;
  border-radius: 2px;
}

#content .courses-card .card .card-body {
  padding: 10px;
  margin: 20px;
}

.courses-card .card .card-body .lead {
  font-size: 18px;
  font-weight: 300;
}

.courses-card .card .card-body .card-title {
  font-size: 22px;
  font-weight: 600;
}
